<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
  {{!-- <a class="navbar-brand" href="#">PantryCheck</a> --}}
  {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> --}}
  <div class="collapse navbar-collapse" id="navbarNav">
    <h3 class="navbar-float-left">Pantry</h3>
    <ul class="navbar-nav nav-fill">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dry">Dry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/perishable">Perishable</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/frozen">Frozen</a>
      </li>
      <button class="navbar-float-right" onclick="myFunction()">Add Item</button>
    </ul>
  </div>
</nav>
<div id="sidebar-form" class="sidebar-form">
  <form>
    <h3 class="form-heading">Add Food Item</h3>
    <div class="form-group">
      <label for="exampleInputEmail1">Name: </label>
      <input type="input" class="form-control" id="nameInput" placeholder="name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Quantity: </label>
      <input type="input" class="form-control" id="quantityInput" placeholder="quantity">
    </div>
    <div class="form-group">
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Storage Condition: </label>
      <select class="custom-select my-1 mr-sm-2" id="storageInput">
        <option selected>Choose...</option>
        <option value="dry">Dry</option>
        <option value="perishable">Perishable</option>
        <option value="frozen">Frozen</option>
      </select>
    </div>
    <div class="form-group">
      <div class="dates-wrapper group">
        <div class="field clearfix date-range-start date-wrapper">
          <div class="label">
            <label for="datepicker-end">Expiry Date:</label>
            <input type="date" name="experience-end" id="datepicker-end" class="input-text" placeholder="dd/mm/yyyy">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Category: </label>
      <select class="custom-select my-1 mr-sm-2" id="categoryInput">
        <option selected>Choose...</option>
        <option value="Fruits/Vegetable">Fruits/Vegetable</option>
        <option value="Tinned/Packet">Tinned/Packet</option>
        <option value="Meat/Fish">Meat/Fish</option>
        <option value="Dairy">Dairy</option>
        <option value="Nuts/Dried Fruit/Pulses">Nuts/Dried Fruit/Pulses</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Price</label>
      <input type="input" class="form-control" id="priceInput" placeholder="Price">
    </div>
    <div class="form-group"></div>
    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
</div>
</form>
</div>