<link rel="stylesheet" href="/public/css/home.css" type="text/css" />


<div>
  {{>nav}}
</div>
<div class="col-xs-1" align="center">
  <h1>Dry

  </h1>
</div>

<div>
  {{>cards}}
  <img class="pics" src="../public/assets/dry.png"></img> 
</div>