<div>
  {{>nav}}
</div>
<style>
  body {
    background-image: url("../public/assets/marble.png");
  }
</style>
<div class="col-xs-1" align="center">
  <h1>
    About
  </h1>
</div>
<div class="row">
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <canvas id="bar-chart"></canvas>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <h2>An app to help you track the items in your panty!
          <br>

          A simple UI allows you to input items in different areas
          <br>

          Easily see when things are due to expire and reduce food wastage
        </h2>
      </div>
    </div>
  </div>
</div>
<script src="/public/chart.js"></script>

<br>
<div class="col-sm-4">
  <div class="row">
    <canvas id="myChart"></canvas>
  </div>
</div>
