<div class="col-xs-1" align="center">
    <h1>Perishable

    </h1>
</div>



<div class="container">
    <div class="row">
        <div class="card-columns mx-auto d-flex justify-content-center col-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"> Items in Perishable</h2>


                    <ul class="perishable-list">
                        {{#each food}}
                        <li>
                            {{dataValues.name}}
                            {{dataValues.expiration}}
                        </li>

                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>