* {
  font-family: "Poppins", sans-serif;
}

.navbar-brand{
    margin-left: 20px;
}

ul.navbar-nav {
  align-content: center;
  justify-content: center;
  margin: auto;
}

.navbar-nav {
  font-size: 14px;
}

ul.navbar-nav a:hover {
  border-bottom: 1px black solid !important;
  opacity: 0.8;
}

ul.navbar-nav a {
    color:black !important;
    padding: 4px;
    margin-right: 8px;
}

.navbar-float-right {
  position: absolute;
  right: 50px;
}

#myChart {
  position: absolute;
  top: 12%;
  right: 34%;
}

.sidebar-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    box-shadow: 2px 2px 50px rgb(221, 221, 221);
    background: white;
    border-radius: 1rem;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
}

.active-form {
    transform: translateX(0%);
    opacity: 1;
}
