* {
  font-family: "Poppins", sans-serif;
}

ul.navbar-nav {
  align-content: center;
  justify-content: center;
  margin: auto;
}

.navbar-nav {
  font-size: 14px;
}

ul.navbar-nav a:hover {
  border-bottom: 1px black solid !important;
  opacity: 0.8;
}

ul.navbar-nav a {
    color:black !important;
    padding: 4px;
    margin-right: 8px;
}

.navbar-float-right {
  position: absolute;
  right: 50px;
}

#myChart {
  position: absolute;
  top: 12%;
  right: 34%;
}
